<div class="function" data-toggle="tooltip" data-placement="auto" {{bind-attr title=function.documentation}}>
  {{expander-button expandableElementSelector}}
  {{code-function-signature function=function types=types}}
  
  <div {{bind-attr id=expandableElementId}} class="function-body collapse">
    {{code-block block=function.body}}
  </div>
</div>
